<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablebolgaria">
    <table id="tab" class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Рег номер</th>
            <th>Дата регистрации</th>
            <th>Адресат</th>
            <th>Вид доставки</th>
            <th>Тип конверта</th>
            <th>Количество конвертов</th>
            <th>Сумма марок</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${bolgarias}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.getReg_datestr()}"></td>
            <td th:text="${b.reg_number}"></td>
            <td th:text="${b.text_org}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.spravkonv.type}"></td>
            <td th:text="${b.kol_vo}"></td>
            <td th:text="${b.sum}"></td>
            <td>
                <a name="delBolgaria" th:id="${b.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>