<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="error">
    <div class="row">
        <div class="col-12 row">
            <div class="col-6">Что-то пошло не так</div>
        </div>
    </div>
</div>

<div th:fragment="tabledelo">
    <table id="tab" class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <!--<td align="center">ID</td>-->
            <th>Рег номер</th>
            <th>Дата регистрации</th>
            <th>Адресат</th>
            <th>Вид доставки</th>
            <th>Тип конверта</th>
            <th>Количество конвертов</th>
            <th>Сумма марок</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${peDdeloproizvodstvos}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${p.reg_number}"></td>
            <td th:text="${p.getReg_datestr()}"></td>
            <td th:text="${p.text_org}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.spravkonv.type}"></td>
            <td th:text="${p.kol_vo}"></td>
            <td th:text="${p.sum}"></td>
            <td>
                <a name="delDeloproizvodstvo" th:id="${p.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="rukivvod">
    <div class="row mx-2 d-flex justify-content-center">
        <div class="col-6">

            <div class="row mx-1 my-2" >
                <div class="col d-flex justify-content-center">
                    <h1>Делопроизводство</h1>
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Префикс:</div>
                <div class="col-8">
                    <input class="form-control" type="text" id="reg_pref_ruki">
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Регистрационный номер:</div>
                <div class="col-8">
                    <textarea rows="1" class="form-control" type="text" id="reg_number_ruki"></textarea>
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Постфикс:</div>
                <div class="col-8">
                    <input class="form-control" type="text" id="reg_postf_ruki">
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Дата регистрации:</div>
                <div class="col-8">
                    <input class="form-control" type="date" id="reg_date_ruki">
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Адресат:</div>
                <div class="col-8">
                    <textarea class="form-control" rows="1" id="text_org_ruki"></textarea>
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Вид доставки:</div>
                <div class="col-8">
                    <select class="form-select" id="name_id_ruki">
                        <option th:each="vd : ${viddost_ruki}" th:text="${vd.name}" th:value="${vd.id}"></option>
                    </select>
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Тип конверта:</div>
                <div class="col-8">
                    <select class="form-select" id="type_ruki">
                        <option th:each="sk : ${spravkonvs}" th:text="${sk.type}" th:value="${sk.id}"></option>
                    </select>
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Количество конвертов:</div>
                <div class="col-8">
                    <input  class="form-control"
                            type="number"
                            id="kol_vo_ruki"
                            min="0" step="1" data-bind="value:replyNumber"
                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && /^\d*$/.test(this.value));"
                    />
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center">Сумма марок:</div>
                <div class="col-8">
                    <input  class="form-control"
                            type="number"
                            id="sum_ruki"
                            min="0" step="1" data-bind="value:replyNumber"
                            onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                    />
                </div>
            </div>

            <div class="row mx-1 my-2">
                <div class="col-4 align-self-center"></div>
                <div class="col-8 d-flex justify-content-end">
                    <a name="vvod_ruki" class="btn btn-dark">Добавить</a>
                </div>
            </div>

<!--            <table id="tableadd_ruki">
            </table>-->
        </div>
    </div>
</div>


<!--Это видимо осталось кошда был доступ к базе ПЭДа-->
<div th:fragment="find"> <!--TODO-->

    <table id="tableadd">
        <thead>
        <tr>
            <td align="center">Регистрационный номер</td>
            <td align="center">Дата регистрации</td>
            <td align="center">Адресат</td>
            <td align="center">Вид доставки</td>
            <td align="center">Тип конверта</td>
            <td align="center">Количество конвертов</td>
            <td align="center">Сумма марок</td>
            <td align="center">Удалить</td>
        </tr>
        </thead>
        <tr th:each="d : ${deloproizvodstvos}" th:name="${d.id2}">
            <td th:text="${d.regnumber}" name="reg_number"></td>
            <td th:text="${d.getReg_datestr()}" name="reg_date"></td>
            <td th:text="${d.text_org}" name="text_org"></td>
            <td th:text="${d.name}" name="name"></td>
            <td>
                <select name="type">
                    <option th:each="sk : ${spravkonvs}" th:text="${sk.type}" th:value="${sk.id}"></option>
                </select>
            </td>
            <td>
                <input type="text" name="kol_vo">
            </td>
            <td>
                <input type="text" name="sum">
            </td>
            <td>
                <a name="vvod" th:id="${d.id2}"
                   class="waves-effect waves-light btn">Добавить</a>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="mf"> <!--TODO-->
    <div class="row">
        <div class="col s4 row">
            <div class="col s6">Введите Рег ном c</div>
            <div class="col s3">
                <input type="text" id="regnum">
            </div>
        </div>
        <div class="col s4 row">
            <div class="col s6">Введите Рег ном по</div>
            <div class="col s3">
                <input type="text" id="regnumpo">
            </div>
        </div>
        <div class="col s4 row">
            <div class="col s6">Введите год</div>
            <div class="col s3">
                <input type="text" id="god">
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn" id="find">Найти</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn" id="ruki">Ручной ввод</a>
        </div>
    </div>
</div>

</body>
</html>