<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div class="m-2" th:fragment="ot">

    <div class="row my-2">
        <div class="col">
            <a class="link link-dark" id="r1xls"
               th:href="@{/umik/main/reestr1/pechatdocx(date1=${date1},date2=${date2})}"
               th:text="'Реестр 1 c ' + ${dat1} + ' по ' + ${dat2}" download></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <a class="link link-dark" id="r2xls"
               th:href="@{/umik/main/reestr2/pechatdocx(dat1=${date1},dat2=${date2})}"
               th:text="'Реестр 2 c ' + ${dat1} + ' по ' + ${dat2}" download></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <a class="link link-dark" id="otchpokondocx"
               th:href="@{/umik/main/otchpokon/pechatdocx(date1=${date1},date2=${date2})}"
               th:text="'Отчет по конвертам c ' + ${dat1} + ' по ' + ${dat2}" download></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <a class="link link-dark" id="otchmarkandkonvdocx"
               th:href="@{/umik/main/otchmarkandkonv/pechatdocx(date1=${date1},date2=${date2})}"
               th:text="'Отчет по маркам и конвертам c ' + ${dat1} + ' по ' + ${dat2}" download></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <a class="link link-dark" id="avansdocx"
               th:href="@{/umik/main/avans/pechatdocx(date1=${date1},date2=${date2})}"
               th:text="'Авансовый отчёт c ' + ${dat1} + ' по ' + ${dat2}" download></a>
        </div>
    </div>

</div>

</body>
</html>