<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div  th:fragment="tableinoe">
    <table id="tab" class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>Дата регистрации</th>
            <th>Адресат</th>
            <th>Тип конверта</th>
            <th>Количество конвертов</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${inoes}">
            <td th:text="${i.getReg_datestr()}"></td>
            <td th:text="${i.vidanykonv.adres}"></td>
            <td th:text="${i.spravkonv.type}"></td>
            <td th:text="${i.kol_vo}"></td>
            <td>
                <a name="delInoe" th:id="${i.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>