<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>


<nav id="ttt" th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/umik/main}">Главная</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Письма ПЭД
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" th:href="@{/umik/main/deloproiz}">Делопроизводство</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/obragraj}">Обращение граждан</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Письма не ПЭД
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" th:href="@{/umik/main/bolgaria}">Болгария</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/pravopriem}">Правопреемники</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/inoe}">Иное</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Реестры и отчеты
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" th:href="@{/umik/main/reestr1}">Реестр №1</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/reestr2}">Реестр №2</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/otchpokon}">Отчет по конвертам</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/otchmarkandkonv}">Отчет марки и конверты</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/avans}">Авансовый отчет</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Справочная информация
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown4">
                        <li><a class="dropdown-item" th:href="@{/umik/main/spravkonv}">Справочник конвертов</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/vidanykonv}">Выданы конверты</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/prihod}">Приход конверты</a></li>
                        <li><a class="dropdown-item" th:href="@{/umik/main/prihodmarki}">Приход марки</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/umik/main/history}">История отчетов</a>
                </li>


                <!--<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/contract/admin/admin}">Админка</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/contract/admin/juraudit}">Журнал аудита</a>
                </li>-->

            </ul>
            <form
                    class="d-flex"
                    id="logout"
                    name="logout"
                    th:action="@{/logout}"
                    method="post"
            >
                <div class="text-center text-success align-self-center mx-2">Пользователь:
                    <span sec:authorize="isAuthenticated()"  sec:authentication="principal.login"></span>
                </div>
                <button class="btn btn-outline-success" type="submit">Выйти</button>
            </form>
        </div>
    </div>

</nav>


<div class="row m-2" th:fragment="dat">
    <div class="row">
        <div class="col-12 row">
            <div class="col-3 align-self-center"><p>Выбор месяца</p></div>
            <div class="col-4 row">
                <div class="col-6">
                    <label for="mounth" class="form-label">Месяц</label>
                    <select class="form-select" id="mounth">
                        <option text="Январь" value="1">Январь</option>
                        <option text="Февраль" value="2">Февраль</option>
                        <option text="Март" value="3">Март</option>
                        <option text="Апрель" value="4">Апрель</option>
                        <option text="Май" value="5">Май</option>
                        <option text="Июнь" value="6">Июнь</option>
                        <option text="Июль" value="7">Июль</option>
                        <option text="Август" value="8">Август</option>
                        <option text="Сентябрь" value="9">Сентябрь</option>
                        <option text="Октябрь" value="10">Октябрь</option>
                        <option text="Ноябрь" value="11">Ноябрь</option>
                        <option text="Декабрь" value="12">Декабрь</option>
                    </select>

                </div>
                <div class="col-6">
                    <label for="year" class="form-label">Год</label>
                    <select class="form-select" id="year">
                    </select>

                </div>
            </div>
            <div class="col-4 align-self-end">
                <a class="btn btn-secondary" id="go">Выбрать</a>
            </div>
        </div>
    </div>

    <div class="row d-none">
            <input id="dat1" type="date" th:value="${date1}">
            <input id="dat2" type="date" th:value="${date2}">
    </div>

</div>

</body>
</html>