<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div  th:fragment="tablepravopriem">
    <table id="tab">
        <thead>
        <tr>
            <td align="center">ID</td>
            <td align="center">Дата</td>
            <td align="center">Конверт D количество</td>
            <td align="center">Конверт D цена</td>
            <td align="center">Тариф за пересылку 20гр</td>
            <td align="center">Сумма марок к заказным письмам (руб)</td>
            <td align="center">Удалить</td>
        </tr>
        </thead>
        <tr th:each="p : ${pravopriems}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.get_datestr()}"></td>
            <td th:text="${p.konvert_d}"></td>
            <td th:text="${p.getPrice()}"></td>
            <td th:text="${p.getCena_sell()}"></td>
            <td th:text="${p.marki_k_zak_pis}"></td>
            <td>
                <a name="delPravopriem" th:id="${p.id}"
                   class="red waves-effect waves-light btn">X</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>