<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div  th:fragment="tablepravopriem">
    <table id="tab" class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Конверт D количество</th>
            <th>Конверт D цена</th>
            <th>Тариф за пересылку 20гр</th>
            <th>Сумма марок к заказным письмам (руб)</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${pravopriems}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.get_datestr()}"></td>
            <td th:text="${p.konvert_d}"></td>
            <td th:text="${p.getPrice()}"></td>
            <td th:text="${p.getCena_sell()}"></td>
            <td th:text="${p.marki_k_zak_pis}"></td>
            <td>
                <a name="delPravopriem" th:id="${p.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>