<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablekonv">
    <table class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Стоимость</th>
            <th>Дата</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${prihods}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.getDatestr()}"></td>
            <td>
                <a name="del" th:id="${p.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>