<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablereestr2">
    <table class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Дата</th>
            <th>Сумма по чеку </th>
            <th>Марки</th>
            <th>Количество конвертов</th>
            <!--<td align="center">Название конверта</td>-->
            <th>Марки к заказным письмам</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r,iterStat : ${pravopriems}">
            <td  th:text="${iterStat.count}">
            </td>
            <td  th:text="${r.get_datestr()}">
            </td>
            <td  th:text="${r.get_sumob()}">
            </td>
            <td th:text="${r.get_sumk()}"></td>
            <td th:text="${r.konvert_d}"></td>
            <!--<td th:text="${r.prihod.getFullName()}"></td>-->
            <td  th:text="${r.getMarki_k_zak_pis()}">
            </td>
            <td><a  th:id="${r.getId()}"
                class="btn btn-danger del">X</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>ИТОГО</td>
            <td th:text="${so}"></td>
            <td th:text="${m}"></td>
            <td th:text="${k}"></td>
            <td th:text="${mzp}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
