<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablereestr1">
    <table class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>Рег номер</th>
            <th>Дата регистрации</th>
            <th>Адресат</th>
            <th>Вид доставки</th>
            <th>Конверт А4</th>
            <th>Конверт С5</th>
            <th>Конверт 110x220</th>
            <th>Полиэтиленовый конверт</th>
            <th>Марки</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${reestr1s}">
            <td  th:text="${r.reg_number}">
            </td>
            <td  th:text="${r.getReg_datestr()}">
            </td>
            <td  th:text="${r.getAddr()}">
            </td>
            <td  th:text="${r.name}">
            </td>

            <td  th:text="${r.id_konv1}">
            </td>
            <td  th:text="${r.id_konv4}">
            </td>
            <td  th:text="${r.id_konv5}">
            </td>
            <td  th:text="${r.id_konv6}">
            </td>
            <td  th:text="${r.sum}">
            </td>
            <td>
                <a id="del" th:id="${r.getId()}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>

        <!--Для общей суммы-->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${reestr1i.id_konv1}"></td>
            <td th:text="${reestr1i.id_konv4}"></td>
            <td th:text="${reestr1i.id_konv5}"></td>
            <td th:text="${reestr1i.id_konv6}"></td>
            <td th:text="${reestr1i.sum}"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Конверт А4</td>
            <td>Конверт С5</td>
            <td>Конверт 110x220</td>
            <td>Полиэтиленовый конверт</td>
            <td>Марки</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
