<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablevk">
    <table class="table table-block table-secondary table-striped table-hover
        table-bordered text-center caption-top table-sm">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Адресат</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vk : ${vidanykonvs}">
            <th  th:text="${vk.id}"></th>
            <td  th:text="${vk.adres}"></td>
            <td>
                <a name="del" th:id="${vk.id}"
                   class="btn btn-danger">X</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>