<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="tablevk">
    <table>
        <tr>
            <th align="center">№ п/п</th>
            <th align="center">Адресат</th>
            <th align="center">Удалить</th>
        </tr>
        <tr th:each="vk : ${vidanykonvs}">
            <td  th:text="${vk.id}">
            </td>
            <td  th:text="${vk.adres}">
            </td>
            <td>
                <a name="del" th:id="${vk.id}"
                   class="red waves-effect waves-light btn">X</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>