<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Отчет марки и конверты</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/webjars/materialize/1.0.0-rc.2/dist/css/materialize.min.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown(); //чтобы меню хренячило

            var date = new Date();
            $("#mounth").val(+date.getMonth()+1);
            $("#year").val(+date.getFullYear());
            $('select').formSelect();//селекты

            $("body").on('click', 'a', function () {

                if ($(this).attr('id') == "go") {
                    //Последнее число этого месяца
                    var mounth = +$("#mounth").val();
                    var year = $("#year").val();
                    var day = 1;
                    var now;

                    var now1 = new Date(year, mounth-1, day);

                    var BeginDate = now1.getFullYear() + "-" +
                        ((+now1.getMonth()+1)<10? "0"+(+now1.getMonth()+1):(+now1.getMonth()+1)) + "-" +
                        ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));

                    if(mounth==12){
                        mounth=0;
                        year = +year+1;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    } else {
                        mounth = +mounth;
                        year = year;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    }

                    var EndDate = now.getFullYear() + "-" +
                        ((+now.getMonth()+1)<10? "0"+(+now.getMonth()+1):(+now.getMonth()+1))
                        + "-" + now.getDate();

                    var param =
                        "date1=" + BeginDate +
                        "&date2=" + EndDate;

                    $("#link").load("/umik/main/avans/link", param, function () {
                        $("#form").html("");
                    });

                    return false;
                }

            });
        });

    </script>
</head>
<body>
<div th:insert="fragment/logout :: logout(${user})"></div>

<div th:insert="fragment/menu :: menu"></div>

<div th:insert="fragment/menu :: dat"></div>

<div id="link"></div>

<script type="text/javascript" src="/webjars/materialize/1.0.0-rc.2/dist/js/materialize.min.js"></script>
</body>
</html>