<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Делопроизводство</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/webjars/materialize/1.0.0-rc.2/dist/css/materialize.min.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown(); //чтобы меню хренячило
            $('select').formSelect();//селект с конвертами

            //устанавливаю текущий год
            var date = new Date();
            $("#god").val(date.getFullYear());

            $("body").on('click', 'a', function () {

                if ($(this).attr('id') == "find") {
                    var param = "regnum=" + $("#regnum").val() +
                        "&regnumpo=" + $("#regnumpo").val() +
                        "&god=" + $("#god").val();

                    $("#inf").load("/umik/main/deloproiz/find", param, function () {
                        $('select').formSelect();//селект с конвертами
                    });
                    return false;
                }

/*                if ($(this).attr('id') == "ruki") {
                    var param = "regnum=" + $("#regnum").val() +
                        "&regnumpo=" + $("#regnumpo").val() +
                        "&god=" + $("#god").val();

                    $("#inf").load("/umik/main/deloproiz/ruki", param, function () {
                        $('select').formSelect();//селект с конвертами
                    });
                    return false;
                }*/

                if (this.getAttribute("name") == "vvod_ruki") {

                    let param = "reg_number=" + $("#reg_number_ruki").val() +
                        "&reg_date=" + $("#reg_date_ruki").val() +
                        //"&name=" + $("#name_ruki").val() +
                        "&text_org=" + $("#text_org_ruki").val() +
                        "&kol_vo=" + $("#kol_vo_ruki").val() +
                        "&viddost=" + $("#name_id_ruki").val() +
                        "&type=" + $("#type_ruki").val() +
                        "&reg_pref=" + $("#reg_pref_ruki").val() +
                        "&reg_postf=" + $("#reg_postf_ruki").val() +
                        "&sum=" + $("#sum_ruki").val().replace(",",".");
                    console.log("param=" + param);
                    //var url = "/umik/main/deloproiz/add_ruki" + "?" + param;
                    $("#tabledelo").load("/umik/main/deloproiz/add_ruki", param, function () {
                        $('select').formSelect();//селект с конвертами
                        $("#reg_number_ruki").val("");
                        $("#reg_date_ruki").val("");
                        //$("#name_ruki").val("");
                        $("#text_org_ruki").val("");
                        $("#kol_vo_ruki").val("");
                        //$("#type_ruki").val("");
                        $("#reg_pref_ruki").val("");
                        $("#reg_postf_ruki").val("");
                        $("#sum_ruki").val("");
                        //скрыть добавленное
                        //$("[name="+id+"]").remove();
                    });
                    return false;
                }

                if (this.getAttribute("name") == "vvod") {
                    var id = $(this).attr('id');

                    var param = "reg_number=" + $("tr[name=" + id + "] [name=reg_number]").text() +
                        "&reg_date=" + $("tr[name=" + id + "] [name=reg_date]").text()+
                        "&name=" + $("tr[name=" + id + "] [name=name]").text()+
                        "&text_org=" + $("tr[name=" + id + "] [name=text_org]").text()+
                        "&kol_vo=" + $("tr[name=" + id + "] [name=kol_vo]").val()+
                        "&type=" + $("tr[name=" + id + "] [name=type]").val()+
                        "&sum=" + $("tr[name=" + id + "] [name=sum]").val().replace(",",".");
                    console.log("param=" + param);
                    var url = "/umik/main/deloproiz/add" + "?" + param;
                    $("#tabledelo").load("/umik/main/deloproiz/add", param, function () {
                        $('select').formSelect();//селект с конвертами
                        //скрыть добавленное
                        $("[name="+id+"]").remove();
                    });
                    return false;
                }

                if (this.getAttribute("name") == "delDeloproizvodstvo") {
                    var id = $(this).attr('id');

                    var param = "id=" + id;
                    if (confirm("Точно удалить заявление с id " +
                        id + "?")) {
                        var url = "/umik/main/deloproiz/del" + "?" + param;
                        location.href = url;
                    }
                }
            });
        });

    </script>
</head>
<body>
<div th:insert="fragment/logout :: logout(${user})"></div>
<div th:insert="fragment/menu :: menu"></div>


    <!--<div th:insert="fragment/deloproizfrag :: mf"></div>-->
    <!--<div id="rukivvod"></div>-->

    <div id="rukivvod">
        <div th:insert="fragment/deloproizfrag :: rukivvod"></div>
    </div>

    <div id="inf"></div>

    <div id="tabledelo" th:insert="fragment/deloproizfrag :: tabledelo"></div>


    <script type="text/javascript" src="/webjars/materialize/1.0.0-rc.2/dist/js/materialize.min.js"></script>

</body>
</html>