<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Учёт марок и конвертов</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}"/>
    <script type="text/javascript">
        $(document).ready(function () {

            let fullYear = new Date().getFullYear();
            let html = "";
            for (let i = fullYear - 3; i < fullYear + 4; i++) {
                html+=`<option text="${i}" value="${i}">${i}</option>`;
            }
            $("#year").html(html);

            $("#year").val(fullYear);
            $("#mounth").val(new Date().getMonth()+1);

            $("body").on('click', 'a', function () {
                if ($(this).attr('id') == "vvod") {

                    if($("#kol_vo").val()==""){
                        alert("Введите количество!");
                        return;
                    }

                    //Последнее число этого месяца
                    let mounth;
                    let year;
                    let day = 1;
                    let now;

                    if($("#mounth").val()==12){
                        mounth=0;
                        year = +$("#year").val()+1;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    } else {
                        mounth = +$("#mounth").val();
                        year = $("#year").val();
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    }

                    let FullDate = now.getFullYear() + "-" +
                        ((+now.getMonth()+1)<10? "0"+(+now.getMonth()+1):(+now.getMonth()+1))
                        + "-" + now.getDate();

                    let param =
                        "reg_date=" + FullDate +
                        "&typevk=" + $("#typevk").val() +
                        "&type=" + $("#type").val() +
                        "&kol_vo=" + $("#kol_vo").val();
                    let url = "/umik/main/inoe/add" + "?" + param;
                    location.href = url;
                    return false;
                }

                if (this.getAttribute("name") == "delInoe") {
                    let id = $(this).attr('id');

                    let param = "id=" + id;
                    if (confirm("Точно удалить заявление с id " +
                        id + "?")) {
                        let url = "/umik/main/inoe/del" + "?" + param;
                        location.href = url;
                    }
                }
            });
        });

    </script>
</head>
<body>
<!--<div th:insert="fragment/logout :: logout(${user})"></div>-->
<div th:insert="fragment/menu :: menu"></div>

<div class="row mx-2 d-flex justify-content-center">

    <div class="col-6">

        <div class="row mx-1 my-2" >
            <div class="col d-flex justify-content-center">
                <h1>Иное</h1>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Выбор месяца:</div>
            <div class="col-8 row">
                <div class="col-6">
                    <label for="mounth" class="form-label">Месяц</label>
                    <select class="form-select" id="mounth">
                        <option text="Январь" value="1">Январь</option>
                        <option text="Февраль" value="2">Февраль</option>
                        <option text="Март" value="3">Март</option>
                        <option text="Апрель" value="4">Апрель</option>
                        <option text="Май" value="5">Май</option>
                        <option text="Июнь" value="6">Июнь</option>
                        <option text="Июль" value="7">Июль</option>
                        <option text="Август" value="8">Август</option>
                        <option text="Сентябрь" value="9">Сентябрь</option>
                        <option text="Октябрь" value="10">Октябрь</option>
                        <option text="Ноябрь" value="11">Ноябрь</option>
                        <option text="Декабрь" value="12">Декабрь</option>
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label" for="year">Год</label>
                    <select class="form-select" id="year"></select>
                </div>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Адресат:</div>
            <div class="col-8">
                <select class="form-select" id="typevk">
                    <option th:each="vk : ${vidanykonvs}" th:text="${vk.adres}"
                            th:value="${vk.id}"></option>
                </select>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Конверт:</div>
            <div class="col-8">
                <select class="form-select" id="type">
                    <option th:each="sk : ${spravkonvs}"  th:text="${sk.type}"
                            th:value="${sk.id}"></option>
                </select>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Количество конвертов:</div>
            <div class="col-8">
                <input  class="form-control"
                        type="number"
                        id="kol_vo"
                        min="0" step="1" data-bind="value:replyNumber"
                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && /^\d*$/.test(this.value));"
                />
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center"></div>
            <div class="col-8 d-flex justify-content-end">
                <a id="vvod" class="btn btn-dark">Добавить</a>
            </div>
        </div>

    </div>
</div>

<div id="tableinoe" th:insert="fragment/inoefrag :: tableinoe"></div>

<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>