<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Журнал</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/webjars/materialize/1.0.0-rc.2/dist/css/materialize.min.css"/>
    <script type="text/javascript">
        var sortTable = function (n) {
            var s = n.document;
            return function (b, t, u, d, n, x) {
                function p(e, b, d) {
                    function m(a, g, b) {
                        var c;
                        if ("string" === g) return a;
                        "[object RegExp]" === {}.toString.call(g) ? c = g : "undefined" !== typeof v[g] && (c = v[g]);
                        b = b ? b : 0;
                        return (c = a.match(c)) && c[b] ? "word" == g ? c[b] : new Number(c[b]) : a
                    }

                    function f(a, b) {
                        return a > b
                    }

                    function p(a, b) {
                        return a < b
                    }

                    function w(b, d, f) {
                        if (q.dir === d && q.idx === e) return !1;
                        for (a = 0; a < h.length - 1; a += 1) for (k = a + 1; k < h.length; k += 1) if (b(m(h[a].cells[e].innerText, l[e][0], l[e][1]), m(h[k].cells[e].innerText, l[e][0], l[e][1]))) {
                            var c = h[a], r = h[k], n = c.nextSibling, p = c.parentNode;
                            c.swapNode ? c.swapNode(r) : (r.parentNode.replaceChild(c, r), p.insertBefore(r, n))
                        }
                        q.dir = d;
                        q.idx = e;
                        f && f(q)
                    }

                    b = s.createElement("SPAN");
                    d = s.createElement("SPAN");
                    b.appendChild(t.cloneNode(!0));
                    d.appendChild(u.cloneNode(!0));
                    b.onclick = function () {
                        w(p, "asc", n)
                    };
                    d.onclick = function () {
                        w(f, "desc", x)
                    };
                    return {asc: b, desc: d}
                }

                if (!b || !t || !u) throw Error("sortTabe ERROR: Parameters 1,2,3 - is required!");
                var h = b.tBodies[0].rows, f = b.rows[0].cells.length, q = {dir: "none", idx: null}, l = d || [],
                    v = {integer: /\d+/g, number: /(\d+(\.\d+)?)/g, word: /\S+/g, string: "string"}, m, a, k;
                for (a = 0; a < f; a++) "[object Array]" !== {}.toString.call(l[a]) && (l[a] = ["string", 0]);
                for (a = 0; a < f; a += 1) m = p(a, b), d = b.rows[0].cells[a], d.appendChild(m.asc), d.appendChild(m.desc)
            }
        }(this);

        $(document).ready(function () {
            $("body").on('click', 'a', function () {

                if ($(this).attr('id') == "filter") {
                    var param = "d1=" + $("#datedo").val() +
                        "&d2=" + $("#dateposle").val() +
                        "&login=" + $("#login").val() +
                        "&text=" + $("#text").val() +
                        "&type=" + $("#type").val();

                    $("#ttt").load("/umik/juraudit/tables", param, function () {
                        // Вешаем сортировку на таблицу:
                        console.log($("#tab").get(0));
                        sortTable($("#tab").get(0), sortAsc1, sortDesc1, sortRules);
                    });
                    return false;
                }

                if ($(this).attr('id') == "clear") {

                    $("#ttt").load("/umik/juraudit/clear", function () {
                        // Вешаем сортировку на таблицу:
                        console.log($("#tab").get(0));
                        sortTable($("#tab").get(0), sortAsc1, sortDesc1, sortRules);
                    });
                    return false;
                }
            });
        });
    </script>
</head>
<body>
<div th:insert="fragment/logout :: logout(${user})"></div>

<br>
<a th:href="@{/umik/admin}">
    Назад
</a>
<br>

<div class="row">
    <div class="col s2">
        Дата до
        <input type="date" id="datedo">
    </div>
    <div class="col s2">
        Дата после
        <input type="date" id="dateposle">
    </div>
    <div class="col s2">
        Пользователь
        <input type="text" id="login">
    </div>
    <div class="col s2">
        Тип
        <input type="text" id="type">
    </div>
    <div class="col s2">
        Текст
        <input type="text" id="text">
    </div>
    <div class="col s2">
        <a class="waves-effect waves-light btn" id="filter">Применить фильтр</a>
    </div>
</div>


<div th:insert="fragmentadmin/adminfragment :: tables(${logi})"></div>

<a class="waves-effect waves-light btn" id="clear">Очистить</a>
<script type="text/javascript">
    // Значки для сортировки :
    var sortAsc1 = document.createElement("SPAN"),
        sortDesc1 = document.createElement("SPAN"),
        sortRules = [
            null,
            null,
            ["number"],     // Сортировать по первому числу строки (целое или десятичная дробь)
            null            // Здесь будет использоваться алгоритм по-умолчанию (правило string)
        ];

    // Значки сортировки для заголовка таблицы:
    sortAsc1.innerHTML = "&#9660;";
    sortDesc1.innerHTML = "&#9650;";

    // Вешаем сортировку на таблицу:
    console.log($("#tab").get(0));

    sortTable($("#tab").get(0), sortAsc1, sortDesc1, sortRules);
</script>
<script type="text/javascript" src="/webjars/materialize/1.0.0-rc.2/dist/js/materialize.min.js"></script>
</body>
</html>