<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Учёт марок и конвертов</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}"/>
    <script type="text/javascript">
        $(document).ready(function () {

            //устанавливаю текущий год
            let date = new Date();
            $("#god").val(date.getFullYear());

            $("body").on('click', 'a', function () {
                if ($(this).attr('id') == "find") {
                    let param = "regnum=" + $("#regnum").val() +
                        "&regnumpo=" + $("#regnumpo").val() +
                        "&god=" + $("#god").val();

                    $("#inf").load("/umik/main/obragraj/find", param, function () {
                    });
                    return false;
                }

                if (this.getAttribute("name") == "vvod_ruki") {

                    let param = "reg_number=" + $("#reg_number_ruki").val() +
                        "&reg_date=" + $("#reg_date_ruki").val() +
                        "&text_org=" + $("#text_org_ruki").val() +
                        "&kol_vo=" + $("#kol_vo_ruki").val() +
                        "&viddost=" + $("#name_id_ruki").val() +
                        "&type=" + $("#type_ruki").val() +
                        "&reg_pref=" + $("#reg_pref_ruki").val() +
                        "&reg_postf=" + $("#reg_postf_ruki").val() +
                        "&addr_list=" + $("#addr_list").val() +
                        "&text_fio=" + $("#text_fio").val() +
                        "&sum=" + $("#sum_ruki").val().replace(",",".");
                    //console.log("param=" + param);
                    $("#tabledelo").load("/umik/main/obragraj/add_ruki", param, function () {
                        $("#reg_number_ruki").val("");
                        $("#reg_date_ruki").val("");
                        $("#text_org_ruki").val("");
                        $("#kol_vo_ruki").val("");
                        $("#reg_pref_ruki").val("");
                        $("#reg_postf_ruki").val("");
                        $("#sum_ruki").val("");
                        $("#addr_list").val("");
                        $("#text_fio").val("");
                        //скрыть добавленное

                    });
                    return false;
                }

                if (this.getAttribute("name") == "vvod") {
                    let id = $(this).attr('id');

                    let param =
                        "reg_number=" + $("tr[name=" + id + "] [name=reg_number]").text() +
                        "&reg_date=" + $("tr[name=" + id + "] [name=reg_date]").text() +
                        "&name=" + $("tr[name=" + id + "] [name=name]").text() +
                        "&text_org=" + $("tr[name=" + id + "] [name=text_org]").text() +
                        "&text_fio=" + $("tr[name=" + id + "] [name=text_fio]").text() +
                        "&addr_list=" + $("tr[name=" + id + "] [name=addr_list]").text() +
                        "&kol_vo=" + $("tr[name=" + id + "] [name=kol_vo]").val() +
                        "&type=" + $("tr[name=" + id + "] [name=type]").val() +
                        "&sum=" + $("tr[name=" + id + "] [name=sum]").val().replace(",",".");


                    $("#tabledelo").load("/umik/main/obragraj/add", param, function () {
                        //скрыть добавленное
                        $("[name="+id+"]").remove();
                    });
                    return false;
                }

                if (this.getAttribute("name") == "delDeloproizvodstvo") {
                    let id = $(this).attr('id');
                    let param = "id=" + id;
                    if (confirm("Точно удалить заявление с id " +
                        id + "?")) {
                        let url = "/umik/main/obragraj/del" + "?" + param;
                        location.href = url;
                    }
                }
            });
        });

    </script>
</head>
<body>
<!--<div th:insert="fragment/logout :: logout(${user})"></div>-->
<div th:insert="fragment/menu :: menu"></div>

<div class="row mx-2 d-flex justify-content-center">

    <div class="col-6">

        <div class="row mx-1 my-2" >
            <div class="col d-flex justify-content-center">
                <h1>Обращение граждан</h1>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Префикс:</div>
            <div class="col-8">
                <input class="form-control" type="text" id="reg_pref_ruki">
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Регистрационный номер:</div>
            <div class="col-8">
                <textarea rows="1" class="form-control" type="text" id="reg_number_ruki"></textarea>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Постфикс:</div>
            <div class="col-8">
                <input class="form-control" type="text" id="reg_postf_ruki">
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Дата регистрации:</div>
            <div class="col-8">
                <input class="form-control" type="date" id="reg_date_ruki">
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Адресат:</div>
            <div class="col-8">
                <textarea class="form-control" rows="1" id="text_org_ruki"></textarea>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">ФИО:</div>
            <div class="col-8">
                <textarea class="form-control" rows="1" id="text_fio"></textarea>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">addr_list:</div>
            <div class="col-8">
                <input class="form-control" type="text" id="addr_list">
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Вид доставки:</div>
            <div class="col-8">
                <select class="form-select" id="name_id_ruki">
                    <option th:each="vd : ${viddost_ruki}" th:text="${vd.name}" th:value="${vd.id}"></option>
                </select>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Тип конверта:</div>
            <div class="col-8">
                <select class="form-select" id="type_ruki">
                    <option th:each="sk : ${spravkonvs}" th:text="${sk.type}" th:value="${sk.id}"></option>
                </select>
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Количество конвертов:</div>
            <div class="col-8">
                <input  class="form-control"
                        type="number"
                        id="kol_vo_ruki"
                        min="0" step="1" data-bind="value:replyNumber"
                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57 && /^\d*$/.test(this.value));"
                />
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center">Сумма марок:</div>
            <div class="col-8">
                <input  class="form-control"
                        type="number"
                        id="sum_ruki"
                        min="0" step="1" data-bind="value:replyNumber"
                        onkeypress="return ((event.charCode != 45 && event.charCode != 44 && event.charCode != 101) && /^\d*\.{0,1}\d*$/.test(this.value));"
                />
            </div>
        </div>

        <div class="row mx-1 my-2">
            <div class="col-4 align-self-center"></div>
            <div class="col-8 d-flex justify-content-end">
                <a name="vvod_ruki" class="btn btn-dark">Добавить</a>
            </div>
        </div>

    </div>

        <!--<table id="tableadd_ruki" width="30%">
        </table>-->

</div>

<div id="inf"></div>

<div id="tabledelo" th:insert="fragment/oblagrajfrag :: tabledelo"></div>

<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>