<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Отчет по конвертам</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/webjars/materialize/1.0.0-rc.2/dist/css/materialize.min.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown(); //чтобы меню хренячило
            var date = new Date();
            $("#mounth").val(+date.getMonth()+1);
            $("#year").val(+date.getFullYear());
            $('select').formSelect();//селекты

            $("body").on('click', 'a', function () {
                if ($(this).attr('id') == "go") {

                    //Последнее число этого месяца

                    var mounth = +$("#mounth").val();
                    var year = $("#year").val();
                    var day = 1;
                    var now;
                    var now1;
                    var BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-01";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    BeginDate;

                    if(mounth==12){
                        mounth=0;
                        year = +year+1;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    } else {
                        mounth = +mounth;
                        year = year;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    }

                    var EndDate = now.getFullYear() + "-" +
                        ((+now.getMonth()+1)<10? "0"+(+now.getMonth()+1):(+now.getMonth()+1))
                        + "-" + now.getDate();

                    var param =
                        "date1=" + BeginDate +
                        "&date2=" + EndDate;

                    $("#form").load("/umik/main/otchpokon/form", param, function () {
                        $('select').formSelect();//селект с конвертами
                        $("#mounth").add("disabled", "disabled");//не работают вроде
                        $("#year").add("class", "disabled");
                    });

                    return false;
                }

                if ($(this).attr('id') == "vvod") {

                    var mounth = +$("#mounth").val();
                    var year = $("#year").val();
                    var day = 13;
                    var now;
                    var now1;
                    var BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-13";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    BeginDate;

/*                    var mounth = +$("#mounth").val();
                    var year = $("#year").val();
                    var now1;

                    if(mounth==12){
                        BeginDate=year+"-12-13";
                    } else {
                        now1 = new Date(year, +mounth-1, 13);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    BeginDate;*/

                    var ota4id = [];
                    $("#a4ot [name^='ot-']").each(function(indx, element){
                        ota4id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    var ota4r1 = [];
                    $("#a4ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ota4r1.push($(element).val());
                    });

                    var ota4 = [];
                    for (var i = 0; i < ota4id.length; i++) {
                        ota4.push(ota4id[i]+";"+(ota4r1[i]==""?"0":ota4r1[i]));
                    }

                    var pa4id = [];
                    $("#a4ot [name^='p-']").each(function(indx, element){
                        pa4id.push(+$(element).attr("name").replace("p-",""));
                    });
                    var pa4r1 = [];
                    $("#a4ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pa4r1.push($(element).val());
                    });
                    var pa4 = [];
                    for (var i = 0; i < pa4id.length; i++) {
                        pa4.push(pa4id[i]+";"+(pa4r1[i]==""?"0":pa4r1[i]));
                    }

                    var otc5id = [];
                    $("#c5ot [name^='ot-']").each(function(indx, element){
                        otc5id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    var otc5r1 = [];
                    $("#c5ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otc5r1.push($(element).val());
                    });
                    var otc5 = [];
                    for (var i = 0; i < otc5id.length; i++) {
                        otc5.push(otc5id[i]+";"+(otc5r1[i]==""?"0":otc5r1[i]));
                    }

                    var pc5id = [];
                    $("#c5ot [name^='p-']").each(function(indx, element){
                        pc5id.push(+$(element).attr("name").replace("p-",""));
                    });
                    var pc5r1 = [];
                    $("#c5ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pc5r1.push($(element).val());
                    });
                    var pc5 = [];
                    for (var i = 0; i < pc5id.length; i++) {
                        pc5.push(pc5id[i]+";"+(pc5r1[i]==""?"0":pc5r1[i]));
                    }

                    var ot110x220id = [];
                    $("#110x220ot [name^='ot-']").each(function(indx, element){
                        ot110x220id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    var ot110x220r1 = [];
                    $("#110x220ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ot110x220r1.push($(element).val());
                    });
                    var ot110x220 = [];
                    for (var i = 0; i < ot110x220id.length; i++) {
                        ot110x220.push(ot110x220id[i]+";"+(ot110x220r1[i]==""?"0":ot110x220r1[i]));
                    }

                    var p110x220id = [];
                    $("#110x220ot [name^='p-']").each(function(indx, element){
                        p110x220id.push(+$(element).attr("name").replace("p-",""));
                    });
                    var p110x220r1 = [];
                    $("#110x220ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        p110x220r1.push($(element).val());
                    });
                    var p110x220 = [];
                    for (var i = 0; i < p110x220id.length; i++) {
                        p110x220.push(p110x220id[i]+";"+(p110x220r1[i]==""?"0":p110x220r1[i]));
                    }

                    var otpkid = [];
                    $("#pkot [name^='ot-']").each(function(indx, element){
                        otpkid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    var otpkr1 = [];
                    $("#pkot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otpkr1.push($(element).val());
                    });

                    var otpk = [];
                    for (var i = 0; i < otpkid.length; i++) {
                        otpk.push(otpkid[i]+";"+(otpkr1[i]==""?"0":otpkr1[i]));
                    }

                    var ppkid = [];
                    $("#pkot [name^='p-']").each(function(indx, element){
                        ppkid.push(+$(element).attr("name").replace("p-",""));
                    });
                    var ppkr1 = [];
                    $("#pkot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        ppkr1.push($(element).val());
                    });
                    var ppk = [];
                    for (var i = 0; i < ppkid.length; i++) {
                        ppk.push(ppkid[i]+";"+(ppkr1[i]==""?"0":ppkr1[i]));
                    }

                    //---
                    var otteid = [];
                    $("#teot [name^='ot-']").each(function(indx, element){
                        otteid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    var otter1 = [];
                    $("#teot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otter1.push($(element).val());
                    });

                    var otte = [];
                    for (var i = 0; i < otteid.length; i++) {
                        otte.push(otteid[i]+";"+(otter1[i]==""?"0":otter1[i]));
                    }

                    var pteid = [];
                    $("#teot [name^='p-']").each(function(indx, element){
                        pteid.push(+$(element).attr("name").replace("p-",""));
                    });
                    var pter1 = [];
                    $("#teot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pter1.push($(element).val());
                    });
                    var pte = [];
                    for (var i = 0; i < pteid.length; i++) {
                        pte.push(pteid[i]+";"+(pter1[i]==""?"0":pter1[i]));
                    }


                    //--
                    let ot110x220clearid = [];
                    $("#110x220clearot [name^='ot-']").each(function(indx, element){
                        ot110x220clearid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let ot110x220clearr1 = [];
                    $("#110x220clearot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ot110x220clearr1.push($(element).val());
                    });
                    let ot110x220clear = [];
                    for (let i = 0; i < ot110x220clearid.length; i++) {
                        ot110x220clear.push(ot110x220clearid[i]+";"+(ot110x220clearr1[i]==""?"0":ot110x220clearr1[i]));
                    }

                    let p110x220clearotid = [];
                    $("#110x220clearot [name^='p-']").each(function(indx, element){
                        p110x220clearotid.push(+$(element).attr("name").replace("p-",""));
                    });
                    let p110x220clearotr1 = [];
                    $("#110x220clearot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        p110x220clearotr1.push($(element).val());
                    });
                    let p110x220clear = [];
                    for (let i = 0; i < p110x220clearotid.length; i++) {
                        p110x220clear.push(p110x220clearotid[i]+";"+(p110x220clearotr1[i]==""?"0":p110x220clearotr1[i]));
                    }

                    var delim="!";
                    var param =
                        "date=" + BeginDate +
                        "&ota4=" + ota4.join(delim) +
                        "&pa4=" + pa4.join(delim) +
                        "&otc5=" + otc5.join(delim) +
                        "&pc5=" + pc5.join(delim) +
                        "&ot110x220=" + ot110x220.join(delim) +
                        "&p110x220=" + p110x220.join(delim) +
                        "&otpk=" + otpk.join(delim) +
                        "&ppk=" + ppk.join(delim) +
                        "&otte=" + otte.join(delim) +
                        "&pte=" + pte.join(delim)+
                        "&ot110x220clear=" + ot110x220clear.join(delim) +
                        "&p110x220clear=" + p110x220clear.join(delim);

                    console.log(param);

                    $("#link").load("/umik/main/otchpokon/link", param, function () {
                        $("#form").html("");
                    });

                    return false;
                }

            });

        });

    </script>
</head>
<body>
<div th:insert="fragment/logout :: logout(${user})"></div>

<div th:insert="fragment/menu :: menu"></div>

<div th:insert="fragment/menu :: dat"></div>

<div id="link"></div>

<div id="form"></div>

<script type="text/javascript" src="/webjars/materialize/1.0.0-rc.2/dist/js/materialize.min.js"></script>
</body>
</html>