<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Учёт марок и конвертов</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}"/>
    <script type="text/javascript">

        let OLD_VAL_INPUT = 0;

        function changeZnach(input, link, tdRaspr, inputNewVal) {

            let inputMax = +input.attr('max');
            let raspr = +tdRaspr.attr('name');

            let inputVsegoOld = raspr;

            input.closest('table').find('input').each(function (index, el) {
                if($(this).attr('id')!==input.attr('id')){
                    inputVsegoOld -= +$(this).val()
                }
            })

            inputNewVal = +(inputNewVal>=inputMax?inputMax:inputNewVal);
            inputNewVal = +(inputNewVal>=inputVsegoOld?inputVsegoOld:inputNewVal);

            input.val(inputNewVal);
            link.text(' ' + (+inputMax - +inputNewVal));

            tdRaspr.text(+inputVsegoOld-+inputNewVal);

        }

        $(document).ready(function () {

            let fullYear = new Date().getFullYear();
            let html = "";
            for (let i = fullYear - 3; i < fullYear + 4; i++) {
                html+=`<option text="${i}" value="${i}">${i}</option>`;
            }
            $("#year").html(html);

            let date = new Date();
            $("#mounth").val(+date.getMonth()+1);
            $("#year").val(fullYear);

            $("body").on('keyup', 'input', function () {

                if ($(this).attr('type')==='number' && !$(this).hasClass('marki')) {
                    console.log(!$(this).hasClass('marki'))
                    let input = $(this);
                    let link = $(this).closest('td').find('a');
                    let tdRaspr = $(this).closest('table').find('td.raspr');

                    changeZnach(input, link, tdRaspr, $(this).val());

                }
            });

            $("body").on('keydown', 'input', function () {
                if ($(this).attr('type')==='number' && !$(this).hasClass('marki')) {
                    OLD_VAL_INPUT = +$(this).val();
                }
            });

            $("body").on('click', 'a', function () {

                if ($(this).hasClass('link-ostatok')) {

                    let input = $(this).closest('td').find('input');
                    let link = $(this);
                    let tdRaspr = $(this).closest('table').find('td.raspr');

                    let inputMax = input.attr('max');
                    let raspr = tdRaspr.text();

                    OLD_VAL_INPUT = +input.val();
                    changeZnach(input, link, tdRaspr, link.text().replace(/[^0-9]/,""))

                }

                if ($(this).attr('id') == "go") {
                    //Последнее число этого месяца
                    let mounth = +$("#mounth").val();
                    let year = $("#year").val();
                    let day = 1;
                    let now;
                    let now1;
                    let BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-01";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    //BeginDate;

                    if(mounth==12){
                        mounth=0;
                        year = +year+1;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    } else {
                        mounth = +mounth;
                        year = year;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    }

                    let EndDate = now.getFullYear() + "-" +
                        ((+now.getMonth()+1)<10? "0"+(+now.getMonth()+1):(+now.getMonth()+1))
                        + "-" + now.getDate();

                    let param =
                        "date1=" + BeginDate +
                        "&date2=" + EndDate;

                    $("#form").load("/umik/main/otchmarkandkonv/form", param, function () {
                        $("#mounth").add("disabled", "disabled");//не работают вроде
                        $("#year").add("class", "disabled");
                    });
                    return false;
                }

                if ($(this).attr('id') == "vvod") {

                    let mounth = +$("#mounth").val();
                    let year = $("#year").val();
                    let day = 13;
                    let now;
                    let now1;
                    let BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-13";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    let otDid = [];
                    $("#Dot [name^='ot-']").each(function(indx, element){
                        otDid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let otDr1 = [];
                    $("#Dot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otDr1.push($(element).val());
                    });
                    let otD = [];
                    for (let i = 0; i < otDid.length; i++) {
                        otD.push(otDid[i]+";"+(otDr1[i]==""?"0":otDr1[i]));
                    }

                    let pDid = [];
                    $("#Dot [name^='p-']").each(function(indx, element){
                        pDid.push(+$(element).attr("name").replace("p-",""));
                    });
                    let pDr1 = [];
                    $("#Dot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pDr1.push($(element).val());
                    });
                    let pD = [];
                    for (let i = 0; i < pDid.length; i++) {
                        pD.push(pDid[i]+";"+(pDr1[i]==""?"0":pDr1[i]));
                    }

                    let ot110x220id = [];
                    $("#110x220ot [name^='ot-']").each(function(indx, element){
                        ot110x220id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let ot110x220r1 = [];
                    $("#110x220ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ot110x220r1.push($(element).val());
                    });
                    let ot110x220 = [];
                    for (let i = 0; i < ot110x220id.length; i++) {
                        ot110x220.push(ot110x220id[i]+";"+(ot110x220r1[i]==""?"0":ot110x220r1[i]));
                    }

                    let p110x220id = [];
                    $("#110x220ot [name^='p-']").each(function(indx, element){
                        p110x220id.push(+$(element).attr("name").replace("p-",""));
                    });
                    let p110x220r1 = [];
                    $("#110x220ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        p110x220r1.push($(element).val());
                    });
                    let p110x220 = [];
                    for (let i = 0; i < p110x220id.length; i++) {
                        p110x220.push(p110x220id[i]+";"+(p110x220r1[i]==""?"0":p110x220r1[i]));
                    }

                    let delim="!";
                    let param =
                        "date=" + BeginDate +
                        "&otD=" + otD.join(delim) +
                        "&pD=" + pD.join(delim) +
                        "&ot110x220=" + ot110x220.join(delim) +
                        "&p110x220=" + p110x220.join(delim) +
                        "&reestr1m=" + $("#reestr1m").val() +
                        "&reestr2m=" + $("#reestr2m").val() +
                        "&ostat=" + $("#ostat").val() +
                        "&prihodm=" + $("#prihodm").val();

                    console.log(param);

                    $("#link").load("/umik/main/otchmarkandkonv/link", param, function () {
                        $("#form").html("");
                    });

                    return false;
                }

            });
        });

    </script>
</head>
<body>

<!--<div th:insert="fragment/logout :: logout(${user})"></div>-->
<div th:insert="fragment/menu :: menu"></div>

<div class="row mx-1 my-2" >
    <div class="col d-flex justify-content-center">
        <h1>Отчёт марки и конверты</h1>
    </div>
</div>

<div th:insert="fragment/menu :: dat"></div>

<div id="link"></div>

<div id="form"></div>

<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>