<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Учёт марок и конвертов</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css}"/>
    <script type="text/javascript">

        let OLD_VAL_INPUT = 0;

        function changeZnach(input, link, tdRaspr, inputNewVal) {

                let inputMax = +input.attr('max');
                let raspr = +tdRaspr.attr('name');

                let inputVsegoOld = raspr;
                input.closest('table').find('input').each(function (index, el) {
                    if($(this).attr('id')!==input.attr('id')){
                        inputVsegoOld -= +$(this).val()
                    }
                })

                inputNewVal = +(inputNewVal>=inputMax?inputMax:inputNewVal);
                inputNewVal = +(inputNewVal>=inputVsegoOld?inputVsegoOld:inputNewVal);

                input.val(inputNewVal);
                link.text(' ' + (+inputMax - +inputNewVal));

                tdRaspr.text(inputVsegoOld-inputNewVal);

        }

        $(document).ready(function () {

            let fullYear = new Date().getFullYear();
            let html = "";
            for (let i = fullYear - 3; i < fullYear + 4; i++) {
                html+=`<option text="${i}" value="${i}">${i}</option>`;
            }
            $("#year").html(html);

            let date = new Date();
            $("#mounth").val(+date.getMonth()+1);
            $("#year").val(+date.getFullYear());

            $("body").on('keyup', 'input', function () {

                if ($(this).attr('type')==='number') {

                    let input = $(this);
                    let link = $(this).closest('td').find('a');
                    let tdRaspr = $(this).closest('table').find('td.raspr');

                    changeZnach(input, link, tdRaspr, $(this).val());

                }
            });

            $("body").on('keydown', 'input', function () {
                if ($(this).attr('type')==='number') {
                    OLD_VAL_INPUT = +$(this).val();
                    //console.log('keypress ', OLD_VAL_INPUT);
                }
            });


            $("body").on('click', 'a', function () {

                if ($(this).hasClass('link-ostatok')) {

                    let input = $(this).closest('td').find('input');
                    let link = $(this);
                    let tdRaspr = $(this).closest('table').find('td.raspr');

                    let inputMax = input.attr('max');
                    let raspr = tdRaspr.text();

                    OLD_VAL_INPUT = +input.val();
                    changeZnach(input, link, tdRaspr, link.text().replace(/[^0-9]/,""))

                }

                if ($(this).attr('id') == "go") {

                    //Последнее число этого месяца

                    let mounth = +$("#mounth").val();
                    let year = $("#year").val();
                    let day = 1;
                    let now;
                    let now1;
                    let BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-01";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    //BeginDate;

                    if(mounth==12){
                        mounth=0;
                        year = +year+1;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    } else {
                        mounth = +mounth;
                        year = year;
                        now = new Date(year, mounth, day);
                        now.setDate(0);
                    }

                    let EndDate = now.getFullYear() + "-" +
                        ((+now.getMonth()+1)<10? "0"+(+now.getMonth()+1):(+now.getMonth()+1))
                        + "-" + now.getDate();

                    let param =
                        "date1=" + BeginDate +
                        "&date2=" + EndDate;

                    $("#form").load("/umik/main/otchpokon/form", param, function () {
                        $("#mounth").add("disabled", "disabled");//не работают вроде
                        $("#year").add("class", "disabled");
                    });

                    return false;
                }

                if ($(this).attr('id') == "vvod") {

                    let mounth = +$("#mounth").val();
                    let year = $("#year").val();
                    let day = 13;
                    let now;
                    let now1;
                    let BeginDate;

                    if(mounth==12){
                        BeginDate=year+"-12-13";
                    } else {
                        now1 = new Date(year, mounth, day);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    //BeginDate;

/*                    var mounth = +$("#mounth").val();
                    var year = $("#year").val();
                    var now1;

                    if(mounth==12){
                        BeginDate=year+"-12-13";
                    } else {
                        now1 = new Date(year, +mounth-1, 13);
                        BeginDate = now1.getFullYear() + "-" +
                            ((+now1.getMonth())<10? "0"+(+now1.getMonth()):(+now1.getMonth())) + "-" +
                            ((+now1.getDate())<10? "0"+(+now1.getDate()):(+now1.getDate()));
                    }

                    BeginDate;*/

                    let ota4id = [];
                    $("#a4ot [name^='ot-']").each(function(indx, element){
                        ota4id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let ota4r1 = [];
                    $("#a4ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ota4r1.push($(element).val());
                    });

                    let ota4 = [];
                    for (let i = 0; i < ota4id.length; i++) {
                        ota4.push(ota4id[i]+";"+(ota4r1[i]==""?"0":ota4r1[i]));
                    }

                    let pa4id = [];
                    $("#a4ot [name^='p-']").each(function(indx, element){
                        pa4id.push(+$(element).attr("name").replace("p-",""));
                    });
                    let pa4r1 = [];
                    $("#a4ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pa4r1.push($(element).val());
                    });
                    let pa4 = [];
                    for (let i = 0; i < pa4id.length; i++) {
                        pa4.push(pa4id[i]+";"+(pa4r1[i]==""?"0":pa4r1[i]));
                    }

                    let otc5id = [];
                    $("#c5ot [name^='ot-']").each(function(indx, element){
                        otc5id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let otc5r1 = [];
                    $("#c5ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otc5r1.push($(element).val());
                    });
                    let otc5 = [];
                    for (let i = 0; i < otc5id.length; i++) {
                        otc5.push(otc5id[i]+";"+(otc5r1[i]==""?"0":otc5r1[i]));
                    }

                    let pc5id = [];
                    $("#c5ot [name^='p-']").each(function(indx, element){
                        pc5id.push(+$(element).attr("name").replace("p-",""));
                    });
                    let pc5r1 = [];
                    $("#c5ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pc5r1.push($(element).val());
                    });
                    let pc5 = [];
                    for (let i = 0; i < pc5id.length; i++) {
                        pc5.push(pc5id[i]+";"+(pc5r1[i]==""?"0":pc5r1[i]));
                    }

                    let ot110x220id = [];
                    $("#110x220ot [name^='ot-']").each(function(indx, element){
                        ot110x220id.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let ot110x220r1 = [];
                    $("#110x220ot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ot110x220r1.push($(element).val());
                    });
                    let ot110x220 = [];
                    for (let i = 0; i < ot110x220id.length; i++) {
                        ot110x220.push(ot110x220id[i]+";"+(ot110x220r1[i]==""?"0":ot110x220r1[i]));
                    }

                    let p110x220id = [];
                    $("#110x220ot [name^='p-']").each(function(indx, element){
                        p110x220id.push(+$(element).attr("name").replace("p-",""));
                    });
                    let p110x220r1 = [];
                    $("#110x220ot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        p110x220r1.push($(element).val());
                    });
                    let p110x220 = [];
                    for (var i = 0; i < p110x220id.length; i++) {
                        p110x220.push(p110x220id[i]+";"+(p110x220r1[i]==""?"0":p110x220r1[i]));
                    }

                    let otpkid = [];
                    $("#pkot [name^='ot-']").each(function(indx, element){
                        otpkid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let otpkr1 = [];
                    $("#pkot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otpkr1.push($(element).val());
                    });

                    let otpk = [];
                    for (let i = 0; i < otpkid.length; i++) {
                        otpk.push(otpkid[i]+";"+(otpkr1[i]==""?"0":otpkr1[i]));
                    }

                    let ppkid = [];
                    $("#pkot [name^='p-']").each(function(indx, element){
                        ppkid.push(+$(element).attr("name").replace("p-",""));
                    });
                    let ppkr1 = [];
                    $("#pkot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        ppkr1.push($(element).val());
                    });
                    let ppk = [];
                    for (let i = 0; i < ppkid.length; i++) {
                        ppk.push(ppkid[i]+";"+(ppkr1[i]==""?"0":ppkr1[i]));
                    }

                    //---
                    let otteid = [];
                    $("#teot [name^='ot-']").each(function(indx, element){
                        otteid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let otter1 = [];
                    $("#teot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        otter1.push($(element).val());
                    });

                    let otte = [];
                    for (let i = 0; i < otteid.length; i++) {
                        otte.push(otteid[i]+";"+(otter1[i]==""?"0":otter1[i]));
                    }

                    let pteid = [];
                    $("#teot [name^='p-']").each(function(indx, element){
                        pteid.push(+$(element).attr("name").replace("p-",""));
                    });
                    let pter1 = [];
                    $("#teot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        pter1.push($(element).val());
                    });
                    let pte = [];
                    for (let i = 0; i < pteid.length; i++) {
                        pte.push(pteid[i]+";"+(pter1[i]==""?"0":pter1[i]));
                    }


                    //--
                    let ot110x220clearid = [];
                    $("#110x220clearot [name^='ot-']").each(function(indx, element){
                        ot110x220clearid.push(+$(element).attr("name").replace("ot-",""));
                    });
                    let ot110x220clearr1 = [];
                    $("#110x220clearot [name^='ot-'] [name='reestr1']").each(function(indx, element){
                        ot110x220clearr1.push($(element).val());
                    });
                    let ot110x220clear = [];
                    for (let i = 0; i < ot110x220clearid.length; i++) {
                        ot110x220clear.push(ot110x220clearid[i]+";"+(ot110x220clearr1[i]==""?"0":ot110x220clearr1[i]));
                    }

                    let p110x220clearotid = [];
                    $("#110x220clearot [name^='p-']").each(function(indx, element){
                        p110x220clearotid.push(+$(element).attr("name").replace("p-",""));
                    });
                    let p110x220clearotr1 = [];
                    $("#110x220clearot [name^='p-'] [name='reestr1']").each(function(indx, element){
                        p110x220clearotr1.push($(element).val());
                    });
                    let p110x220clear = [];
                    for (let i = 0; i < p110x220clearotid.length; i++) {
                        p110x220clear.push(p110x220clearotid[i]+";"+(p110x220clearotr1[i]==""?"0":p110x220clearotr1[i]));
                    }

                    let delim="!";
                    let param =
                        "date=" + BeginDate +
                        "&ota4=" + ota4.join(delim) +
                        "&pa4=" + pa4.join(delim) +
                        "&otc5=" + otc5.join(delim) +
                        "&pc5=" + pc5.join(delim) +
                        "&ot110x220=" + ot110x220.join(delim) +
                        "&p110x220=" + p110x220.join(delim) +
                        "&otpk=" + otpk.join(delim) +
                        "&ppk=" + ppk.join(delim) +
                        "&otte=" + otte.join(delim) +
                        "&pte=" + pte.join(delim)+
                        "&ot110x220clear=" + ot110x220clear.join(delim) +
                        "&p110x220clear=" + p110x220clear.join(delim);

                    console.log(param);

                    $("#link").load("/umik/main/otchpokon/link", param, function () {
                        $("#form").html("");
                    });

                    return false;
                }

            });

        });

    </script>
</head>
<body>

<!--<div th:insert="fragment/logout :: logout(${user})"></div>-->

<div th:insert="fragment/menu :: menu"></div>

<div class="row mx-1 my-2" >
    <div class="col d-flex justify-content-center">
        <h1>Отчёт по конвертам</h1>
    </div>
</div>

<div th:insert="fragment/menu :: dat"></div>

<div id="link"></div>

<div id="form"></div>

<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>