<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Правопреемники</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/webjars/materialize/1.0.0-rc.2/dist/css/materialize.min.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown(); //чтобы меню хренячило
            $('select').formSelect();//селекты

            var date = new Date();
            $("#date").val(
                date.getFullYear() + "-" +
                ((+date.getMonth() + 1) < 10 ? "0" + (+date.getMonth() + 1) : (+date.getMonth() + 1))
                + "-" +
                (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));

            $("body").on('click', 'a', function () {
                if ($(this).attr('id') == "vvod") {
                    if ($("#kol_d").val() == "") {
                        alert("Введите количество!");
                        return;
                    }
                    var param =
                        "date=" + $("#date").val() +
                        "&kol_d=" + $("#kol_d").val() +
                        "&id_prihod=" + $("#id_prihod").val() +
                        "&cena_sell=" + $("#cena_sell").val() +
                        "&sum_mark=" + ($("#sum_mark").val() == "" ? 0 : $("#sum_mark").val().replace(",", "."));
                    console.log("param=" + param);
                    var url = "/umik/main/pravopriem/add" + "?" + param;
                    location.href = url;
                    return false;
                }

                if (this.getAttribute("name") == "delPravopriem") {
                    var id = $(this).attr('id');

                    var param = "id=" + id;
                    if (confirm("Точно удалить заявление с id " +
                        id + "?")) {
                        var url = "/umik/main/pravopriem/del" + "?" + param;
                        location.href = url;
                    }
                }
            });
        });

    </script>
</head>
<body>
<div th:insert="fragment/logout :: logout(${user})"></div>
<div th:insert="fragment/menu :: menu"></div>

<div class="row">
    <div class="col s3"></div>
    <div class="col s6">
        <div class="row">
            <div class="col s12 row">
                <div class="col s6">Дата</div>
                <div class="col s6">
                    <input type="date" id="date">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 row">
                <div class="col s6">Количество конверта D</div>
                <div class="col s6">
                    <input type="text" id="kol_d">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 row">
                <div class="col s6">Конверт</div>
                <div class="col s6">
                    <div class="input-field col s12">
                        <select id="id_prihod">
                            <option th:each="p : ${prihodsD}" th:text="${p.getFullNamePrice()}"
                                    th:value="${p.id}"></option>
                        </select>
                        <label>Тип конверта</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col s12 row">
                <div class="col s6">Тариф за пересылку 20гр</div>
                <div class="col s6">
                    <input type="text" id="cena_sell" th:value="${max}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 row">
                <div class="col s6">Сумма марок к заказным конвертам</div>
                <div class="col s6">
                    <input type="text" id="sum_mark">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 row">
                <div class="col s6"></div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn" id="vvod">Добавить</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tablepravopriem" th:insert="fragment/pravopriemfrag :: tablepravopriem"></div>

<script type="text/javascript" src="/webjars/materialize/1.0.0-rc.2/dist/js/materialize.min.js"></script>
</body>
</html>